<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/permission_internet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.Pemberitahuan"></activity>
        <activity android:name=".user.Tentang" />
        <activity android:name=".user.RubahPassword" />
        <activity android:name=".user.LihatProfil" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".berkaspengumumanpribadi.BerkasPribadiTypeFilePdf" />
        <activity android:name=".berkaspengumumanpribadi.BerkasPribadiTypeFileVideo" />
        <activity android:name=".berkaspengumumanpribadi.BerkasPribadiTypePdf" />
        <activity android:name=".berkaspengumumanpribadi.BerkasPribadiTypeFileFoto" />
        <activity android:name=".berkaspengumumanpribadi.BerkasPribadiTypeFileDefault" />
        <activity android:name=".PengumumanPribadiActivity" />
        <activity android:name=".berkaspengumuman.BerkasTypeFileDefault" />
        <activity android:name=".berkaspengumuman.BerkasTypeFileVideo" />
        <activity android:name=".berkaspengumuman.BerkasTypeFileFoto" />
        <activity android:name=".berkaspengumuman.BerkasTypeFilePdf" />
        <activity android:name=".Search" />
        <activity android:name=".PengumumanActivity" />
        <activity android:name=".helper.WebView" />
        <activity android:name=".SpalshScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>